* {
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: Tahoma, Arial;
    line-height: 1.6; /* Improved accessibility by increasing readability */
}

header nav {
    width: 100%;
    background-color: #9e3e96;
    height: 44px;
    padding: 0 40px;
}

header nav ul,
header nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

header nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #2ab855;
    margin: 0;
}

header nav ul li a:hover {
    background-color: white;
    color: #9cb443;
}

.hero {
    height: 350px;
    background-color: #20b3a6;
    background-image: url('/bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

.hero h1,
.hero h2 {
    text-align: center;
    margin: 0;
}

.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

.hero h2 {
    color: #a08286;
}

main.container {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

footer.bottom {
    height: 50px;
    background-color: #d49432;
    padding: 40px;
}

.center {
    text-align: center;
}

.container section article {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .container section article {
        margin: 10px;
    }
}

.skip {
    position: absolute;
    left: -999px;
    top: -999px;
}

.skip:focus {
    left: 10px;
    top: 10px;
    background-color: #fff;
    color: #c53c91;
    padding: 8px;
    z-index: 1000;
    border-radius: 4px;
}
